extends layout

block content
    include header
    .content
        .modal-wrap
            .modal-header
                span.is-active
                span
                span

            .modal-bodies

                .modal-body.modal-body-step-1.is-showing
                    .title Sunteți:
                    form
                        label
                            input(type="radio" name="radio" id="individual")
                            | Persoană fizică
                        label
                            input(type="radio" name="radio" id="legal")
                            | Persoană juridică
                        label(class="legal")
                            input(type="radio" name="legal" id="parat")
                            | Sediu pâtât
                        label(class="legal")
                            input(type="radio" name="legal" id="dest")
                            | Sediu pârât2
                        label(id="parat-location")
                            p Sediul pârât
                            select
                                option(value="") Selectați Raionul
                                option(value="volvo") Volvo
                                option(value="mercedes") Mercedes
                            select
                                option(value="") Selectați Orașul
                                option(value="volvo") Volvo
                                option(value="mercedes") Mercedes
                        label(id="dest-location")
                            p Sediul distinatar
                            select
                                option(value="") Selectați Raionul
                                option(value="volvo") Volvo
                                option(value="mercedes") Mercedes
                            select
                                option(value="") Selectați Orașul
                                option(value="volvo") Volvo
                                option(value="mercedes") Mercedes

                        .text-center.fade-in
                            .button Următorul



                .modal-body.modal-body-step-2
                    .title Step 2
                    .description Would you rather
                    form
                        label
                            input(type="radio" name="radio")
                            | live one life that lasts 1,000 years?
                        label
                            input(type="radio" name="radio" id="radio2")
                            | live 10 lives that last 100 years each?
                        .text-center.fade-in
                            .button Next





                .modal-body.modal-body-step-3
                    .title Step 3
                    .description Check your email for the game results.
                    .text-center
                        .button Done!


        .text-center
            .rerun-button ReRun

    include footer
