section(id="section3")
    .container
        .center-text.quote este platforma gratuită ce facilitează accesul la justiție prin oferirea modelelor de acte juridice. Completează în câțiva pași și apără-ți drepturile.