section(id="section2")
    .container
        .center-text Selectează

        ul#select
            li Petiții
                ul(class="drop-menu")
                    li Protecția consumatorului
                    li Accesul la informație
                    li Cerere prealabilă
            li
                a(href="/formular") Cereri de chemare în judecată
            li Contracte
