section(id="section1")
    .container
        img(id="banner" src="/images/banner.png")
        img(id="logo" src="/images/logo.png")
        #motto
            h1 Generăm acte juridice
            h1 pentru tine!